@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }
/* shared style */
.display-flex{
    display: flex;
}
.color-1{
    color: rgb(254, 163, 1)
}
.color-2{
    color: rgb(1, 172, 253);
}
.color-3{
    color: rgb(5, 212, 223);
}

.color-4{
    color: rgb(93, 88, 239);
}
.color-5{
    color: black;
}
*{
    margin: 0;
    padding: 0;
}

/* navbar style */
header{
    margin-top: 10px;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
    font-size: 1.25rem;
    font-weight: 700;
}
.nav-link{
    text-decoration: none;
}
.menu-btn{
    padding: 10px 60px;
    border-radius: 12px;
    border: none;
    background-color: #FEA301;
    color: #FFFFFF;
    font-size: 1.25rem;
    font-weight: 600;
    margin-right: 140px;
}
.brand-name{
    
    font-weight: 700;
    font-size: 2rem;
    
}
.logo{
    margin-left: 140px;
}
.main-logo{
    width: 46px;
    height: 46px;
}
.menu-icon{
    display: none;
}
.menu-icon{
    color: rgba(0, 0, 0, 1);
}
/* hero section style */

.hero{
    justify-content: space-between;
}
.hero-content{
    padding-top: 140px;
    padding-left: 140px;
    
}

.hero-title{
    font-size: 3.5rem;
    font-weight: 700;
    width: 640px;
    height: 183px;
}
.hero-description{
    padding-top: 30px;
    font-size: 1.25rem;
    font-weight: 400;
    width: 640px;
    height: 50px;
}
.hero-btn{
    margin-top: 24px;
    padding: 10px 47px;
    border-radius: 12px;
    border: none;
    background-color: black;
    color: white;
    font-size: 1.25rem;
    font-weight: 700;
}
.hero-image{
    margin-right: 140px;
    
}

.curriculum {
    background-image: url("../assets/bg.png");
    margin: 20px 30px;
    padding: 20px 40px;
}

.curriculum-heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.curriculum-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 28px;
}

.curriculum-container ul {
    padding: 0;
    margin: 0;
}

.curriculum-container li {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.kinder {
    display: flex;
    flex-direction: column;
    width: 367.8px;
    height: 380.78px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.86px;

    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.elementary {
    display: flex;
    flex-direction: column;
    width: 367.8px;
    height: 380.78px;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    border: 0.94px solid rgb(255, 244, 220);
    border-radius: 18.86px;

    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(255, 244, 220), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.middle {
    display: flex;
    flex-direction: column;
    width: 367.8px;
    height: 380.78px;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    border: 0.94px solid rgb(242, 232, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.kinder-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #01ACFD;
    font-weight: bold;
}

.elementary-button {
    color: #F0AA00;
    font-weight: bold;
}

.middle-button {
    display: block;
    text-align: center;
    color: #8700FF;
    font-weight: bold;
    padding-right: 30px;
}


.kinder-button:hover,
.elementary-button:hover,
.middle-button:hover {
    color: white;
    background-color: orange;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.round-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 60px;
    padding-bottom: 20px;
}

.round {
    width: 40px;
    height: 40px;
    background-color: orange;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.round:hover {
    background-color: darkorange;
    transform: scale(1.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

/* responsive Design */
@media screen and (max-width:576px) {
  
    .menu-icon{
        display: block;
        width: 30px;
        height: 30px;
    }
    .menu-btn, .brand-name, .nav-links{
        display: none;
    }
    .main-logo{
        margin-left: -130px;
    }
    header{
        border: 1px solid rgb(254, 163, 1);
        
    }

    .hero{
        flex-direction: column-reverse;
    }
    .hero-img{
        width: 100%;
        justify-content: center;
        align-items: center;

    }

    .hero-title{
        max-width: 357px;
        font-size: 2rem;
        
        
    }
    .hero-description{
        max-width: 357px;
        font-size: 0.95rem;
        
        
    }
    .hero-content{
        padding-top: 0;
        padding-left: 0;
        
    }
    
}